<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<head>
	<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1"> 
	<link href="https://unpkg.com/vuetify@1.0.17/dist/vuetify.min.css" type="text/css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" rel="stylesheet">
	<link rel="shortcut icon" href="<%= GLOBALS.BASE_URL_WITHOUT_API + GLOBALS.LOGO%>">
	<title><%= GLOBALS.APP_NAME %> API LIST</title> 
	<style type="text/css">
		.medium-text{
			font-size: 18px;
			color:white;
		}
		.js div#preloader{ 
			position: fixed; 
			left: 0; 
			top: 0; 
			z-index: 999; 
			width: 100%; 
			height: 100%; 
			overflow: visible; 
			background: #fff url('<%= GLOBALS.BASE_URL_WITHOUT_API %>api/public/logo/ripple.gif') no-repeat center center; 
		}
	</style>
	</head>
	<body class="js">
		<div id="preloader"></div>
		<div id="app">
			<v-app id="inspire">
				<v-layout justify column>
					<v-flex style="margin:10px auto 10px auto; padding:0px; text-align:center;" center right sm2 xs2 md2 lg2 xl2>
						<img src='<%= GLOBALS.BASE_URL_WITHOUT_API + "public/user/logo-1.jpg" %>' width="120px"><br>
						<strong style="font-size:24px;"><%= GLOBALS.APP_NAME %> API LIST</strong><br><br>
						<v-alert :value="true" outline color="white" style="padding:5px;">
							<v-chip color="black" text-color="white">
								<v-avatar>
									<v-icon>bookmark</v-icon>
								</v-avatar><b>TOTAL {{messages.length}} APIs</b>
							</v-chip>
						</v-alert>
						<v-alert :value="true" outline color="white" style="padding:5px;">
							<v-chip color="black" text-color="white">
								<v-avatar>
									<v-icon>label_important</v-icon>
								</v-avatar><b>If Device Token not get, pass 0 only</b>
							</v-chip>
							<v-chip color="black" text-color="white">
								<v-avatar>
									<v-icon>label_important</v-icon>
								</v-avatar><b>Upload images on S3 bucket</b>
							</v-chip>
						</v-alert>
					</v-flex>
					<v-flex style="margin:0px auto; padding:0px;" center right sm2 xs2 md2 lg2 xl2>
					
					  	<div id="main1" style="margin:0px auto; position:sticky;">
						    <table border="0" cellpadding="10" cellspacing="10"  width="100%" style="background: linear-gradient(150deg, #121213 50%, #1a1c27) !important;color: #fff;font-weight: bold;">
							    <tr>
				              		<td><b>Server URL </b></td>
				              		<td><img src='https://www.animatedimages.org/data/media/111/animated-arrow-image-0103.gif' width="40px">&nbsp;&nbsp;<b ><%= GLOBALS.PORT_BASE_URL %>api/v1/</b></td>
					   	  		</tr>
					   	  		<tr>
				              		<td><b>Header Parameters </b></td>
				              		<td><img src='https://www.animatedimages.org/data/media/111/animated-arrow-image-0103.gif' width="40px">&nbsp;&nbsp;<b >API-KEY, TOKEN, accept-language</b></td>
					   	  		</tr>
						   	    <tr>
					              <td><b>API-KEY </b></td>
					              <td><img src='https://www.animatedimages.org/data/media/111/animated-arrow-image-0103.gif' width="40px">&nbsp;&nbsp;<b ><%= process.env.API_KEY %></b></td>
						   	    </tr>
						   	    <tr>
					              <td><b>KEY </b></td>
					              <td><img src='https://www.animatedimages.org/data/media/111/animated-arrow-image-0103.gif' width="40px">&nbsp;&nbsp;<b><%= process.env.KEY %></b></td>
						   	    </tr>
						   	    <tr>
					              <td><b>IV </b></td>
					              <td><img src='https://www.animatedimages.org/data/media/111/animated-arrow-image-0103.gif' width="40px">&nbsp;&nbsp;<b><%= process.env.IV %></b></td>
						   	    </tr>
						    </table>
							<br> <br>
						</div>
					</v-flex>
					<v-flex style="margin:0px auto;" center right sm2 xs2 md2 lg2 xl2>
						<a target="_blank" href='/v1/api_document/user_list'>
							<v-btn color="blue-grey" class="white--text">
								USER LIST <v-icon right dark>people</v-icon>
							</v-btn>
						</a>
						<a target="_blank" href='/v1/api_document/code'>
							<v-btn color="blue-grey" class="white--text">
								CODE REFERENCE <v-icon right dark>code</v-icon>
							</v-btn>
						</a>	
						<a target="_blank" href='<%= GLOBALS.PORT_BASE_URL %>/api/api_document/views/enc_dec.php'>
							<v-btn color="blue-grey" class="white--text">
								ENCRYPTION URL <v-icon right dark>lock</v-icon>
							</v-btn>
						</a>	
					</v-flex>
					
					<v-expansion-panel popout>
						<v-expansion-panel-content v-for="(message, i) in messages" :key="i" hide-actions>
							<v-layout slot="header" align-center row spacer>
								<v-flex sm1 xs1 md1 lg1 xl1>
									<v-avatar slot="activator" size="36px">
										<v-icon :color="message.color">{{ message.icon }}</v-icon>
									</v-avatar>
								</v-flex>
								<v-flex sm3 xs3 md3 lg3 xl3>
									<strong v-html="message.title"></strong>
									<v-chip v-if="message.meth" :color="`${message.color} lighten-4`" label small class="ml-0">
										{{ message.meth }}
									</v-chip>
								</v-flex>
								<v-flex sm3 xs3 md3 lg3 xl3>
									<strong v-html="message.name"></strong><br>
									<span v-if="message.updated" style="color:orange">{{ message.updated }}</span>
									<span v-if="message.new_added" style="color:green"><span v-html="message.new_added"></span></span>
								</v-flex>
								<v-flex sm4 xs4 md4 lg4 xl4>
									<v-flex v-if="message.link" class="grey--text" ellipsis hidden-sm-and-down>
										{{ message.link }}
									</v-flex>
									<v-flex class="grey--text" ellipsis hidden-sm-and-down>
										<span v-if="message.imp" style="color:darkred">SHOW IMPORTANT NOTE INSIDE</span>
									</v-flex>
								</v-flex>	
							</v-layout>
							<v-card dark>
								<v-container>
									<v-layout v-if="message.new_tag === '0'">
										<v-flex xs12 align-end flexbox>
											<v-alert v-if="message.new_added" :value="true" outline color="white" style="padding:5px;">
												<v-chip color="green" text-color="white">
													<v-avatar>
														<v-icon>fiber_new</v-icon>
													</v-avatar> NEW
												</v-chip>
												<span v-html="message.new_added"></span>
											</v-alert>
											<v-alert v-if="message.updated" :value="true" outline color="white" style="padding:5px;">
												<v-chip color="orange" text-color="white">
													<v-avatar>
														<v-icon>update</v-icon>
													</v-avatar> UPDATED
												</v-chip>
												<span>{{ message.updated }}</span>
											</v-alert>
											<v-alert :value="true" outline color="white" style="padding:5px;">
												<v-chip color="teal" text-color="white">
													<v-avatar>
														<v-icon>check_circle</v-icon>
													</v-avatar> MANDATORY
												</v-chip>
												{{message.mandatory}}
											</v-alert>
											<v-alert :value="true" outline color="white" style="padding:5px;">
												<v-chip outline color="#F0F4C3">
													<v-avatar>
														<v-icon>check_circle</v-icon>
													</v-avatar>OPTIONAL
												</v-chip>
												<span>{{ message.optional }}
											</v-alert>
											<v-alert v-if="message.link" :value="true" outline color="white" style="padding:5px;">
												<v-chip color="light-green darken-2" text-color="white">
													<v-avatar>
														<v-icon>link</v-icon>
													</v-avatar> LINK
												</v-chip>
												<span>{{ message.link }}
											</v-alert>
											<v-alert v-if="message.imp" :value="true" outline color="white" style="padding:5px;">
												<v-chip color="red darken-2" text-color="white">
													<v-avatar>
														<v-icon>new_releases</v-icon>
													</v-avatar> IMPORTANT
												</v-chip>
												<p v-html="message.imp"></p>
											</v-alert>
											<v-alert v-if="message.notes" :value="true" outline color="white" style="padding:5px;">
												<v-chip color="blue lighten-1" text-color="white">
													<v-avatar>
														<v-icon>bookmark</v-icon>
													</v-avatar> NOTES
												</v-chip>
												<span>{{ message.notes }}
											</v-alert>
											<v-alert v-if="message.example" :value="true" outline color="white" style="padding:5px;">
												<v-chip color="red darken-2" text-color="white">
													<v-avatar>
														<v-icon>check_circle</v-icon>
													</v-avatar> EXAMPLE
												</v-chip>
												<p v-html="message.example"></p>
											</v-alert>
											<v-layout style="margin-top:-4px">
												<v-flex xs6 align-end flexbox>
													<v-alert :value="true" outline color="yellow" icon="priority_high" style="padding:5px;">
															<span class="grey--text">HEADER : {{ message.is_header }}, PUSH : {{ message.is_push }}</span><br>
															<span>HEADER : {{ message.header }}</span>
													</v-alert>
												</v-flex>
												<v-flex xs6 align-end flexbox>
													<v-alert style="margin-left:4px; padding:5px;" :value="true" outline color="yellow" icon="priority_high">
														STATUS : <span v-html="message.status"></span>
													</v-alert>
												</v-flex>
											</v-layout>		
										</v-flex>
									</v-layout>
								</v-container>
								<v-card-actions>
								</v-card-actions>
							</v-card>
						</v-expansion-panel-content>
					</v-expansion-panel>
				</v-layout>
			</v-app>
		</div>
		<div id="asd"></div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
		<script src="https://unpkg.com/vuetify@1.0.17/dist/vuetify.min.js"></script>
		<script src="https://unpkg.com/babel-polyfill/dist/polyfill.min.js"></script>
		<script>

			jQuery(document).ready(function($) {  
				$('#preloader').fadeOut('slow',function(){$(this).remove();});
			});
			
			var base_url = "<%= GLOBALS.PORT_BASE_URL %>api/v1/";
			var base_url_without_api = "<%= GLOBALS.BASE_URL_WITHOUT_API %>";
			let i = 1;
			
			new Vue({
				el: '#app',
				data: () => ({
					messages: [
						{
							new_tag: '1',
							color: 'blue',
							title: 'Auth API',
							icon: 'person',
						},
						{
							new_tag: '0',
							color: 'blue',
							icon: 'person',
							title: i++ + ' : Auth',
							name: 'SIGNUP',
							meth: 'POST',
							link: "<%= GLOBALS.PORT_BASE_URL %>api/v1/auth/signup",
							mandatory: "name,email,mobile,password,device_type[A,I]",
	                        optional: "profile,",
							is_header: "YES",
							is_push: "NO",
							header: "api-key",
							notes: "This api is used to SIGNUP",
							example:'',
							status: "<br>1. HTTP_OK[400] - code : 0 <br>2. HTTP_OK[200] - code : 1 <br>3. HTTP_OK[204] - code : 2",
							imp: "Checking",
						},
						{
							new_tag: '0',
							color: 'blue',
							icon: 'person',
							title: i++ + ' : Auth',
							name: 'LOGIN',
							meth: 'POST',
							link: "<%= GLOBALS.PORT_BASE_URL %>api/v1/auth/login",
							mandatory: "email,password,device_type[A,I]",
	                        optional: "",
							is_header: "YES",
							is_push: "NO",
							header: "api-key",
							notes: "This api is used to login",
							example:'',
							status: "<br>1. HTTP_OK[400] - code : 0 <br>2. HTTP_OK[200] - code : 1 <br>3. HTTP_OK[204] - code : 2",
							imp: "Checking",
						},
						{
							new_tag: '0',
							color: 'blue',
							icon: 'person',
							title: i++ + ' : Auth',
							name: 'OTP SEND',
							meth: 'POST',
							link: "<%= GLOBALS.PORT_BASE_URL %>api/v1/auth/verify-otp",
							mandatory: "email OR phone",
	                        optional: "",
							is_header: "YES",
							is_push: "NO",
							header: "api-key, token",
							notes: "This api is used to OTP send",
							example:'',
							status: "<br>1. HTTP_OK[400] - code : 0 <br>2. HTTP_OK[200] - code : 1 <br>3. HTTP_OK[204] - code : 2",
							imp: "Checking",
						},
						{
							new_tag: '0',
							color: 'blue',
							icon: 'person',
							title: i++ + ' : Auth',
							name: 'LOGOUT',
							meth: 'POST',
							link: "<%= GLOBALS.PORT_BASE_URL %>api/v1/auth/logout",
							mandatory: "user_id",
	                        optional: "",
							is_header: "YES",
							is_push: "NO",
							header: "API-KEY, TOKEN",
							notes: "This api is used to LOGOUT",
							example:'',
							status: "<br>1. HTTP_OK[400] - code : 0 <br>2. HTTP_OK[200] - code : 1 <br>3. HTTP_OK[201] - code : 2",
							imp: "Checking",
						},
						{
							new_tag: '0',
							color: 'blue',
							icon: 'person',
							title: i++ + ' : Auth',
							name: 'FORGET PASSWORD',
							meth: 'POST',
							link: "<%= GLOBALS.PORT_BASE_URL %>api/v1/auth/forgotpassword",
							mandatory: "old password, new password",
	                        optional: "",
							is_header: "YES",
							is_push: "NO",
							header: "api-key,token",
							notes: "This api is used to FORGET PASSWORD",
							example:'',
							status: "<br>1. HTTP_OK[400] - code : 0 <br>2. HTTP_OK[200] - code : 1 <br>3. HTTP_OK[201] - code : 2",
							imp: "Checking",
						},
						{
							new_tag: '0',
							color: 'blue',
							icon: 'person',
							title: i++ + ' : Auth',
							name: 'CHANGE PASSWORD',
							meth: 'POST',
							link: "<%= GLOBALS.PORT_BASE_URL %>api/v1/auth/changepswd",
							mandatory: "email OR phone",
	                        optional: "",
							is_header: "YES",
							is_push: "NO",
							header: "api-key,token",
							notes: "This api is used to FORGET PASSWORD",
							example:'',
							status: "<br>1. HTTP_OK[400] - code : 0 <br>2. HTTP_OK[200] - code : 1 <br>3. HTTP_OK[201] - code : 2",
							imp: "Checking",
						},
						{
							new_tag: '0',
							color: 'blue',
							icon: 'person',
							title: i++ + ' : Auth',
							name: 'Personal info Update',
							meth: 'Patch',
							link: "<%= GLOBALS.PORT_BASE_URL %>api/v1/auth/personalinfo",
							mandatory: "First_name,Last_name,code,mobile,email",
	                        optional: "",
							is_header: "YES",
							is_push: "NO",
							header: "api-key,token",
							notes: "This api is used to Update My Profile",
							example:'',
							status: "<br>1. HTTP_OK[400] - code : 0 <br>2. HTTP_OK[200] - code : 1 <br>3. HTTP_OK[204] - code : 2",
							imp: "Checking",
						},
				    //    chat 
						{
							new_tag: '0',
							color: 'blue',
							icon: 'person',
							title: i++ + ' : Auth',
							name: 'Chat',
							meth: 'POST',
							link: "<%= GLOBALS.PORT_BASE_URL %>api/v1/auth/chat",
							mandatory: "sender_id,reciever_id",
	                        optional: "",
							is_header: "YES",
							is_push: "NO",
							header: "api-key,token",
							notes: "This api is used to Chat ",
							example:'',
							status: "<br>1. HTTP_OK[400] - code : 0 <br>2. HTTP_OK[200] - code : 1 <br>3. HTTP_OK[201] - code : 2",
							imp: "Checking",
						},

						{
							new_tag: '0',
							color: 'blue',
							icon: 'person',
							title: i++ + ' : Auth',
							name: 'Chat Box Display   ',
							meth: 'POST',
							link: "<%= GLOBALS.PORT_BASE_URL %>api/v1/auth/chat_display",
							mandatory: "sender_id,reciever_id",
	                        optional: "",
							is_header: "YES",
							is_push: "NO",
							header: "api-key,token",
							notes: "This api is used to Chat ",
							example:'',
							status: "<br>1. HTTP_OK[400] - code : 0 <br>2. HTTP_OK[200] - code : 1 <br>3. HTTP_OK[201] - code : 2",
							imp: "Checking",
						},
						// contact us
						{
							new_tag: '0',
							color: 'blue',
							icon: 'person',
							title: i++ + ' : Auth',
							name: 'complete profile',
							meth: 'POST',
							link: "<%= GLOBALS.PORT_BASE_URL %>api/v1/auth/completeprofile",
							mandatory: "Profile_image,Gender,DOB,Height,Weight,Goal,Experience",
	                        optional: "",
							is_header: "YES",
							is_push: "NO",
							header: "api-key,token",
							notes: "This api is used to Complete Profile ",
							example:'',
							status: "<br>1. HTTP_OK[400] - code : 0 <br>2. HTTP_OK[200] - code : 1 <br>3. HTTP_OK[204] - code : 2",
							imp: "Checking",
						},
						// my fitness page
						{
							new_tag: '0',
							color: 'blue',
							icon: 'person',
							title: i++ + ' : Auth',
							name: 'My Fitness Information',
							meth: 'PATCH',
							link: "<%= GLOBALS.PORT_BASE_URL %>api/v1/auth/myfitness",
							mandatory: "user_id,Gender,DOB,Height,Weight,Goal,Experience",
	                        optional: "",
							is_header: "YES",
							is_push: "NO",
							header: "api-key,token",
							notes: "This api is used to My Fitness Information ",
							example:'',
							status: "<br>1. HTTP_OK[400] - code : 0 <br>2. HTTP_OK[200] - code : 1 <br>3. HTTP_OK[204] - code : 2",
							imp: "Checking",
						},
						{
							new_tag: '1',
							color: 'blue',
							title: 'GYM API',
							icon: 'GYM	',
						},
						//Gym SCREEN 
					
                        // add card 
						{
							new_tag: '0',
							color: 'blue',
							icon: 'GYM',
							title: i++ + ' : GYM',
							name: 'Add Card',
							meth: 'POST',
							link: "<%= GLOBALS.PORT_BASE_URL %>api/v1/services/cardadd",
							mandatory: "user_id,card_number,card_cvv, card expiry date",
	                        optional: "",
							is_header: "YES",
							is_push: "NO",
							header: "api-key, token, accept-language",
							notes: "This api is used for Add card for payment",
							example:'',
							status: "<br>1. HTTP_OK[400] - code : 0 <br>2. HTTP_OK[200] - code : 1 <br>3. HTTP_OK[204] - code : 2",
							imp: "",
						},
					
						{
							new_tag: '0',
							color: 'blue',
							icon: 'GYM',
							title: i++ + ' :  GYM',
							name: 'Delete Card',
							meth: 'Delete',
							link: "<%= GLOBALS.PORT_BASE_URL %>api/v1/services/cardadd",
							mandatory: "card_id",
	                        optional: "",
							is_header: "YES",
							is_push: "NO",
							header: "api-key, token, accept-language",
							notes: "This api is used for delete card",
							example:'',
							status: "<br>1. HTTP_OK[400] - code : 0 <br>2. HTTP_OK[200] - code : 1 <br>3. HTTP_OK[204] - code : 2",
							imp: "",
						},
                    //     RATING
					    {
							new_tag: '0',
							color: 'blue',
							icon: 'GYM',
							title: i++ + ' :  GYM',
							name: 'Rating Trainer',
							meth: 'post',
							link: "<%= GLOBALS.PORT_BASE_URL %>api/v1/services/review",
							mandatory: "tainer_id",
	                        optional: "",
							is_header: "YES",
							is_push: "NO",
							header: "api-key, token, accept-language",
							notes: "This api is used for Trainer rating",
							example:'',
							status: "<br>1. HTTP_OK[400] - code : 0 <br>2. HTTP_OK[200] - code : 1 <br>3. HTTP_OK[204] - code : 2",
							imp: "",
						},
                    //     my reviews page
						{
							new_tag: '0',
							color: 'blue',
							icon: 'GYM',
							title: i++ + ' :  GYM',
							name: 'My Review',
							meth: 'post',
							link: "<%= GLOBALS.PORT_BASE_URL %>api/v1/services/myreviews",
							mandatory: "user_id",
	                        optional: "",
							is_header: "YES",
							is_push: "NO",
							header: "api-key, token, accept-language",
							notes: "This api is used for My Review Page",
							example:'',
							status: "<br>1. HTTP_OK[400] - code : 0 <br>2. HTTP_OK[200] - code : 1 <br>3. HTTP_OK[204] - code : 2",
							imp: "",
						},
						//map view
                        {
							new_tag: '0',
							color: 'blue',
							icon: 'GYM',
							title: i++ + ' :  GYM',
							name: 'Map View',
							meth: 'post',
							link: "<%= GLOBALS.PORT_BASE_URL %>api/v1/services/mapview",
							mandatory: "user_id",
	                        optional: "",
							is_header: "YES",
							is_push: "NO",
							header: "api-key, token, accept-language",
							notes: "This api is used for Map View",
							example:'',
							status: "<br>1. HTTP_OK[400] - code : 0 <br>2. HTTP_OK[200] - code : 1 <br>3. HTTP_OK[204] - code : 2",
							imp: "",
						},
						// filter / sorting
						{
							new_tag: '0',
							color: 'blue',
							icon: 'GYM',
							title: i++ + ' :  GYM',
							name: 'Filter',
							meth: 'Get',
							link: "<%= GLOBALS.PORT_BASE_URL %>api/v1/services/filter",
							mandatory: "distance, sortin, sortby,price etc",
	                        optional: "",
							is_header: "YES",
							is_push: "NO",
							header: "api-key, token, accept-language",
							notes: "This api is used for Filter",
							example:'',
							status: "<br>1. HTTP_OK[400] - code : 0 <br>2. HTTP_OK[200] - code : 1 <br>3. HTTP_OK[204] - code : 2",
							imp: "",
						},
						// homepage using recent and distance product
						// filter / search
					
						{
							new_tag: '0',
							color: 'blue',
							icon: 'GYM',
							title: i++ + ' : GYM',
							name: ' Search',
							meth: 'POST',
							link: "<%= GLOBALS.PORT_BASE_URL %>api/v1/services/search",
							mandatory: "Filter / search",
	                        optional: "distance,category,price_per_day,price_per_week,price_per_month,location",
							is_header: "YES",
							is_push: "NO",
							header: "api-key, token, accept-language",
							notes: "This api is used for Search",
							example:'',
							status: "<br>1. HTTP_OK[400] - code : 0 <br>2. HTTP_OK[200] - code : 1 <br>3. HTTP_OK[204] - code : 2",
							imp: "",
						},

						//  HOMEPAGE

						{
							new_tag: '0',
							color: 'blue',
							icon: 'GYM',
							title: i++ + ' : GYM',
							name: ' Homepage',
							meth: 'Get',
							link: "<%= GLOBALS.PORT_BASE_URL %>api/v1/services/homepage",
							mandatory: "Filter / search",
	                        optional: "",
							is_header: "YES",
							is_push: "NO",
							header: "api-key, token, accept-language",
							notes: "This api is used for Homepage",
							example:'',
							status: "<br>1. HTTP_OK[400] - code : 0 <br>2. HTTP_OK[200] - code : 1 <br>3. HTTP_OK[204] - code : 2",
							imp: "",
						},
					    // booktrainer
						{
							new_tag: '0',
							color: 'blue',
							icon: 'GYM',
							title: i++ + ' : GYM',
							name: ' Booktrainer',
							meth: 'Get',
							link: "<%= GLOBALS.PORT_BASE_URL %>api/v1/services/booktrainer",
							mandatory: "trainer_id,slot_id",
	                        optional: "",
							is_header: "YES",
							is_push: "NO",
							header: "api-key, token, accept-language",
							notes: "This api is used for Book Trainer",
							example:'',
							status: "<br>1. HTTP_OK[400] - code : 0 <br>2. HTTP_OK[200] - code : 1 <br>3. HTTP_OK[204] - code : 2",
							imp: "",
						},
						
						// Trainer profile
						{
							new_tag: '0',
							color: 'blue',
							icon: 'GYM',
							title: i++ + ' : GYM',
							name: ' Trainer Profile',
							meth: 'Get',
							link: "<%= GLOBALS.PORT_BASE_URL %>api/v1/services/trainerprofile",
							mandatory: "trainer_id",
	                        optional: "",
							is_header: "YES",
							is_push: "NO",
							header: "api-key, token, accept-language",
							notes: "This api is used for  Trainer Profile",
							example:'',
							status: "<br>1. HTTP_OK[400] - code : 0 <br>2. HTTP_OK[200] - code : 1 <br>3. HTTP_OK[204] - code : 2",
							imp: "",
						},
						// block trainer
						{
							new_tag: '0',
							color: 'blue',
							icon: 'GYM',
							title: i++ + ' : GYM',
							name: ' Block Trainer ',
							meth: 'Post',
							link: "<%= GLOBALS.PORT_BASE_URL %>api/v1/services/blocktariner",
							mandatory: "trainer_id,user_id",
	                        optional: "",
							is_header: "YES",
							is_push: "NO",
							header: "api-key, token, accept-language",
							notes: "This api is used for  Block Trainer ",
							example:'',
							status: "<br>1. HTTP_OK[400] - code : 0 <br>2. HTTP_OK[200] - code : 1 <br>3. HTTP_OK[204] - code : 2",
							imp: "",
						},
							// unblock trainer
							{
							new_tag: '0',
							color: 'blue',
							icon: 'GYM',
							title: i++ + ' : GYM',
							name: 'UnBlock Trainer ',
							meth: 'Post',
							link: "<%= GLOBALS.PORT_BASE_URL %>api/v1/services/unblocktariner",
							mandatory: "trainer_id,user_id",
	                        optional: "",
							is_header: "YES",
							is_push: "NO",
							header: "api-key, token, accept-language",
							notes: "This api is used for  UnBlock Trainer ",
							example:'',
							status: "<br>1. HTTP_OK[400] - code : 0 <br>2. HTTP_OK[200] - code : 1 <br>3. HTTP_OK[204] - code : 2",
							imp: "",
						},
						// my booking

						{
							new_tag: '0',
							color: 'blue',
							icon: 'GYM',
							title: i++ + ' : GYM',
							name: ' My Booking ',
							meth: 'Post',
							link: "<%= GLOBALS.PORT_BASE_URL %>api/v1/services/mybooking",
							mandatory: "booking_status('upcoming,running,past')",
	                        optional: "",
							is_header: "YES",
							is_push: "NO",
							header: "api-key, token, accept-language",
							notes: "This api is used for  My booking upcoming,running and past booking  ",
							example:'',
							status: "<br>1. HTTP_OK[400] - code : 0 <br>2. HTTP_OK[200] - code : 1 <br>3. HTTP_OK[204] - code : 2",
							imp: "",
						},
						{
							new_tag: '0',
							color: 'blue',
							icon: 'GYM',
							title: i++ + ' : GYM',
							name: ' Order Details Accepted',
							meth: 'Post',
							link: "<%= GLOBALS.PORT_BASE_URL %>api/v1/services/acceptedbooking",
							mandatory: "trainer_id,order_id",
	                        optional: "",
							is_header: "YES",
							is_push: "NO",
							header: "api-key, token, accept-language",
							notes: "This api is used for  Order Details Accepted ",
							example:'',
							status: "<br>1. HTTP_OK[400] - code : 0 <br>2. HTTP_OK[200] - code : 1 <br>3. HTTP_OK[204] - code : 2",
							imp: "",
						},
						{
							new_tag: '0',
							color: 'blue',
							icon: 'GYM',
							title: i++ + ' : GYM',
							name: ' Order Details Cancel',
							meth: 'Post',
							link: "<%= GLOBALS.PORT_BASE_URL %>api/v1/services/cancelbooking",
							mandatory: "trainer_id,order_id",
	                        optional: "",
							is_header: "YES",
							is_push: "NO",
							header: "api-key, token, accept-language",
							notes: "This api is used for  Order Details Cancel ",
							example:'',
							status: "<br>1. HTTP_OK[400] - code : 0 <br>2. HTTP_OK[200] - code : 1 <br>3. HTTP_OK[204] - code : 2",
							imp: "",
						},
						{
							new_tag: '0',
							color: 'blue',
							icon: 'GYM',
							title: i++ + ' : GYM',
							name: ' Order Details Running',
							meth: 'Get',
							link: "<%= GLOBALS.PORT_BASE_URL %>api/v1/services/runningbooking",
							mandatory: "",
	                        optional: "",
							is_header: "YES",
							is_push: "NO",
							header: "api-key, token, accept-language",
							notes: "This api is used for  Order Details Running",
							example:'',
							status: "<br>1. HTTP_OK[400] - code : 0 <br>2. HTTP_OK[200] - code : 1 <br>3. HTTP_OK[204] - code : 2",
							imp: "",
						},
						// add notification
						{
							new_tag: '0',
							color: 'blue',
							icon: 'GYM',
							title: i++ + ' : GYM',
							name: ' Add Notification',
							meth: 'Post',
							link: "<%= GLOBALS.PORT_BASE_URL %>api/v1/services/addnotification",
							mandatory: "user_id,message",
	                        optional: "",
							is_header: "YES",
							is_push: "NO",
							header: "api-key, token, accept-language",
							notes: "This api is used for  Add Notification",
							example:'',
							status: "<br>1. HTTP_OK[400] - code : 0 <br>2. HTTP_OK[200] - code : 1 <br>3. HTTP_OK[204] - code : 2",
							imp: "",
						},
						//  show notification
						{
							new_tag: '0',
							color: 'blue',
							icon: 'GYM',
							title: i++ + ' : GYM',
							name: ' Show Notification',
							meth: 'Get',
							link: "<%= GLOBALS.PORT_BASE_URL %>api/v1/services/notification",
							mandatory: "user_id",
	                        optional: "",
							is_header: "YES",
							is_push: "NO",
							header: "api-key, token, accept-language",
							notes: "This api is used for Show Notification",
							example:'',
							status: "<br>1. HTTP_OK[400] - code : 0 <br>2. HTTP_OK[200] - code : 1 <br>3. HTTP_OK[204] - code : 2",
							imp: "",
						},
						
						
						
						
					]	
				})
			})	
		</script>
	</body>
</html>